<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

  <div class="container mt-5">
    <div id="form">
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email admin</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button type="button" class="btn btn-primary" onclick="login()">Submit</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io('http://localhost:3000', {
      extraHeaders: {
        Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImRhdG5xdWl0QGdtYWlsLmNvbSIsImlzU2Vjb25kRmFjdG9yQXV0aGVudGljYXRlZCI6ZmFsc2UsImlhdCI6MTY2OTA4MDcyNywiZXhwIjoxNjY5MDgwNzI3fQ.-QWGmpMzb0SWl7hQ7J654RdCcVWAZIcWAl-fzH0Nnbc"
      }
    });

    socket.on('connect', () => {
      setTimeout(() => {
        let start = new Date();
        socket.emit('MESSAGE', 'hii', (res) => {
          let end = new Date();
        });
      }, 500);
    })
    socket.on('haha', () => {
      console.log('oke')
    })
  </script>


<!--  <script type="text/javascript">-->
<!--    let i = 1;-->
<!--    const eventSource = new EventSource('/sse?key=123123');-->
<!--    eventSource.onmessage = (message) => {-->
<!--      console.log(message);-->
<!--      // const message = document.createElement('li');-->
<!--      // message.innerText = 'New message ' + i + ' - ' + JSON.parse(data).emitting;-->
<!--      // i++;-->
<!--      // document.body.appendChild(message);-->
<!--    }-->
<!--  </script>-->
</body>
</html>
